<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Celular</th>
  </tr>
</thead>

<% for ( let index = 0; index < 8; index++) { %>
<p><%= index %></p>
<table>
  <tbody>
    <tr>
      <td><%= index %></td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
  </tbody>
</table>
<% } %>
