<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <section class="container">
      <div class="image_container"></div>
      <img
        src="/static/Images/wallpaper.jpg"
        style="width: 100%; height: 100%"
      />
    </section>

    <%- include("../partials/rodape") %>
  </body>
</html>
